{% extends 'base.html' %}
{% block content %}

<div class="container p-4">
    <div class="card">
        <div class="card-header">
            <h5>Subir proyecto</h5>
        </div>
        <div class="card-body p-3">
            <form method=post enctype=multipart/form-data>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input type="file" name=file class="custom-file-input" id="customFileLang" lang="es">
                            <label class="custom-file-label" for="customFileLang">Seleccione su archivo...</label>
                        </div>
                    </div>
                    <div class="col-sm-1 p-1"></div>
                    <div class="col-sm-3">
                        <button class="btn btn-info btn-block" type="submit"><b>Subir | Corregir</b></button>
                    </div>
                </div>
            </form>
            <p></p>
            {% if data.messages != "" %}
            <div class="alert alert-info text-center" role="alert"><b>{{data.messages}}</b></div>
            {% endif %}
        </div>
    </div>
    <p></p>
    {% if data.test_results[1] != "" %}
    <div class="card">
        <div class="card-header">
                <h4>Corrección: <span class="badge badge-warning">{{ data.test_results[1] }}<span></h4>
        </div>
        <div class="card-body p-3 text-center">
            <div class="row">
                <div class="col-sm-12">
                    {% if data.test_results[0] != [] %}
                        {% for line in data.test_results[0] %}
                            <b>{{line}}</b><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- Code to see the name of the file appear on select file browser-->
<script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}
